/* Common Action Icons */

.menu-btn {
  background: rgb(239, 239, 239);
  border: none;
  border-radius: 1rem;
  padding: 0.5rem;
  gap: 0.6rem;
  display: flex;
  align-items: center;
  text-align: left;
  cursor: pointer;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.258);
  height: 5rem;
}

.btn-icon {
  font-size: 2rem;
  text-align: center;
}

.btn-content h3 {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
  color: #333;
}

.btn-content p {
  font-size: 0.8rem;
  color: #666;
}

.guest-btn {
  border-left: 4px solid #4caf50;
}

.guest-btn-icon {
  background-color: #4caf50;
  mask: url("/assets/icons/badge.svg") no-repeat center;
  mask-size: contain;
  width: 2rem;
  height: 2rem;
}

.register-btn {
  border-left: 4px solid #2196f3;
}

.register-btn-icon {
  background-color: #2196f3;
  mask: url("/assets/icons/app_registration.svg") no-repeat center;
  mask-size: contain;
  width: 2rem;
  height: 2rem;
}

.login-btn {
  border-left: 4px solid #ff9800;
}

.login-btn-icon {
  background-color: #ff9800;
  mask: url("/assets/icons/login.svg") no-repeat center;
  mask-size: contain;
  width: 2rem;
  height: 2rem;
}

.logout-btn {
  border-left: 4px solid #ff9800;
}

.logout-btn-icon {
  background-color: #ff9800;
  mask: url("/assets/icons/logout.svg") no-repeat center;
  mask-size: contain;
  width: 2rem;
  height: 2rem;
}

.options-btn {
  border-left: 4px solid #000000;
}

.options-btn-icon {
  background-color: #000000;
  mask: url("/assets/icons/manufacturing.svg") no-repeat center;
  mask-size: contain;
  width: 2rem;
  height: 2rem;
}
